<div class="col-xs-8">
    <h2>Select action</h2>
    <label for="advancedmode">Advanced options</label>
    <input id="advancedmode" type="checkbox" ng-model="advancedMode" />
    <p>
    <span  ng-repeat="action in actions">
        <button class="btn btn-primary" ui-sref="{{action.state}}">{{action.title}}</button>
    </span>
    </p>
    <h2>Items</h2>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in items">{{item.description}}</li>
    </ul>

</div>

<div class="xs" ui-view></div>